<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="conectar" connectionString="data source=WINDOWS-C7PM2E7;initial catalog=PROTECT_ANIMALS;integrated security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>